<we-toolbar bgColor="blue">
    <we-toolbar-section>
        <we-toolbar-button icon="arrow_back" link="/"></we-toolbar-button>
    </we-toolbar-section>
</we-toolbar>
<main class="content">
    <section class="type">
        <h1 class="type__heading">Need</h1>
        <p class="type__blurb">
            Let the community know about something you
            need, or a need you are aware of in the
            community.
        </p>
        <button class="type__button" mat-raised-button color="primary">Add need</button>    
    </section>
    <section class="type">
        <h1 class="type__heading">Resource</h1>
        <p class="type__blurb">
            Let the community know about a resource you wish
            to make available, or a resource you know is
            available.
        </p>
        <button class="type__button" mat-raised-button color="primary">Add resource</button>
    </section>
    <section class="type">
        <h1 class="type__heading">Solution</h1>
        <p class="type__blurb">
            Propose a solution to a need in the community.
            Your solution may be simple like connecting
            a person with a resource or may involve orgaising
            multiple resources to solve a broder community need.
        </p>
        <button class="type__button" mat-raised-button color="primary">Add solution</button>
    </section>
</main>