<we-toolbar bgColor="blue">
    <we-toolbar-section>
        <we-toolbar-button icon="close" link="/"></we-toolbar-button>
    </we-toolbar-section>
</we-toolbar>
<main class="content">
    <h3>Cart</h3>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
        <label for="name">
        Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="address">
        Address
        </label>
        <input id="address" type="text" formControlName="address">
    </div>
    <button class="button" type="submit">Purchase</button>
</form>
</main>