<we-toolbar bgColor="blue">
    <we-toolbar-section>
        <we-toolbar-button icon="menu" link="/"></we-toolbar-button>
    </we-toolbar-section>
    <we-toolbar-section>
        <we-toolbar-button icon="add" bgColor="deeppink" link="/posts/add"></we-toolbar-button>
    </we-toolbar-section>
</we-toolbar>
<we-posts>
    <we-post type="RESOURCE" image="" heading="20 pairs of jandals available" text="We have 20 pairs of jandals available to a good home"></we-post>
    <we-post type="NEED" image="" text="Need someone to buy me groceries"></we-post>
    <we-post type="SOLUTION" image="" text="Time Bank for Takaka"></we-post>
</we-posts>