<div class="options">
    <a class="button option">
        <span class="material-icons">menu</span>
    </a>
    <!-- <a class="button option">
        <span class="material-icons">filter_list</span>
    </a> -->
    <!-- <a class="button option">
        <span class="material-icons">search</span>
    </a> -->
    <!-- <a class="button option">
        <span class="material-icons">notifications_none</span>
    </a> -->
</div>
<a class="button add" routerLink="/feed">
    <span class="material-icons">add</span>
</a>   