:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.feed_toolbar__menu {
    margin-left: 5px;
    font-size: 48px;
    color: grey;
    flex: 0 0 auto;
}

.feed_toolbar__take_action {
    margin-left: 15px;
    min-width: 160px;
    min-height: 48px;
    flex: 1 1 auto;
    font-size: 1.1em;
}